body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center contents horizontally */
    justify-content: center; /* Center contents vertically */
    min-height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}

.container {
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically, if the height allows */
    margin-bottom: 20px; /* Spacing below the title */
}

.container h1 {
    font-size: 100px; /* Adjust this value to your desired text size */
}

.box-title {
    position: absolute;
    top: 245px; /* Distance from the top of the screen */
    left: 40%; /* Center the text horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    text-align: center;
    font-size: 50px;
    color: #3624db;
}

.box2 {
    position: absolute;
    top: 260px; /* Distance from the top of the screen */
    left: 60%; /* Center the text horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    text-align: center;
    font-size: 50px;
    color: #1fbe47;
}