@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
    font-family: 'Baloo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    margin: 0;
    gap: 20px; 
}
@keyframes backgroundAnimation {
    0% {
        background-color: #d6eaee; 
    }
    100% {
        background-color: #a6cee9; 
    }
}

.controls {
    margin-top: 20px;
}

.slide{
    display: none;
}


.slide{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

.box-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.box-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.text-number-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
}


.imgbox1{
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.imgbox1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbox2{
    width: 150px;
    height: 140px;
    overflow: hidden;   
}

.imgbox2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgbox3{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.imgbox3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.IMGwrap1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 20px;
}

.IMGwrap2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.IMGwrap3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

}

#textBoxLeads {
    font-size: 50px;
    color: #4A90E2;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;

}

#numberBoxLeads {
    font-size: 150px;
    color: #0000FF; 
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 15px;
    margin: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
}

#textBoxSignert {
    font-size: 50px;
    color: #34A853;
    padding: 0px;
    margin: 0px;
    margin-left: -170px;
}



#numberBoxSignert {
    font-size: 150px;
    color: #007F00; 
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 15px;
    margin: 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 250px;
}

.container h1 {
    font-size: 100px; 
}


#myChart{
margin-top: 200px;    
}

#slide2 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    height: 100vh;
    position: relative;
}

#slide2 h1 {
    font-size: 100px;
    margin-top: 5px; 
    margin-bottom: 150px;
    text-align: center;
}

.boxflex {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px; 
}

#Flex1 {
    color: black;
    font-size: 60px;
    padding: 0;
    gap: 0;
    margin: 0;
    align-self: center;
    width: 100%; 
    margin-left: 50px;
}

#Flex2 {
    font-size: 230px;
    align-self: center;
    border: black;
    border-radius: 20px;
    outline: black;
    outline-width: 10px;
    width: 550px;
    height: 300px;
    background-color: #ffffff; 
    margin-left: 270px;
}


#flexwrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 200px;
}

#Flex3{
    margin-top: 300px;
    color: black;
    font-size: 80px;
    align-self: flex-start;
    height: 200px;
    width: 1200px;
    background-color: #ffffff;
    border-radius: 20px;
    outline-width: 10px;

}

#Flex4{
    margin-top: 150px;
    color: black;
    font-size: 80px;
    align-self: flex-start;
    width: 1200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    outline-width: 10px;
}

#slide3 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    width: 100%;
    height: 100vh;
    position: relative;
}

#slide3 h3 {
    font-size: 150px;
    margin-top: 5px; 
    margin-bottom: 100px;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

#Flex6{
    display: flex;
    font-size: 50px;
    width: fit-content;
    height: fit-content;
    align-self: flex-start;
    color: black;
    border-bottom: 5px solid black;
    padding-bottom: 0px;
    line-height: 1;
    padding: 5px;
}

#Flex5{
    display: flex;
    font-size: 30px;
    align-self: flex-start;
    margin-top: 20px;
    padding: 20px;
    width: 460px;
    color: black;
    background-color: white;
    border-radius: 20px;
}